{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Sistem Manajemen Inventaris Kampus</title>

        <link href=" {% static 'vendor/fontawesome-free/css/all.min.css' %} " rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
        {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/dtstyle.css' %}"> {% endcomment %}
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

        <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

    </head>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- SIDEBAR -->
            <ul class="navbar-nav bg-gradient-info sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- NAMA APLIKASI -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/guest-home">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-cubes"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Manajemen Inventaris</div>
                </a>

                <!-- BERANDA -->
                <hr class="sidebar-divider my-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/guest-home">
                        <i class="fas fa-fw fa-home"></i>
                        <span>Beranda</span></a>
                </li>

                <!-- TAMPIL DATA -->
                <hr class="sidebar-divider">
                <div class="sidebar-heading">
                    Tampil Data
                </div>
                <!-- TAMPIL DATA BARANG TERDAFTAR -->
                <li class="nav-item">
                    <a class="nav-link" href="/infobarang">
                        <i class="fas fa-fw fa-archive"></i>
                        <span>Barang Terdaftar</span>
                    </a>
                </li>

                <!-- TAMPIL DATA GEDUNG DAN RUANGAN -->
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePinjam"
                        aria-expanded="true" aria-controls="collapsePinjam">
                        <i class="fas fa-fw fa-file"></i>
                        <span>Gedung dan Ruangan</span>
                    </a>
                    <div id="collapsePinjam" class="collapse" aria-labelledby="headingUtilities"
                        data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="/infogedung">Data Gedung</a>
                            <a class="collapse-item" href="/inforuang">Data Ruangan</a>
                        </div>
                    </div>
                </li>
                
                <!-- TOMBOL TOGGLER SIDEBAR -->
                <hr class="sidebar-divider d-none d-md-block">
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

            </ul>
            <!-- END OF SIDEBAR -->

            <!-- CONTENT WRAPPER -->
            <div id="content-wrapper" class="d-flex flex-column bg-gray-200">

                <!-- Main Content -->
                <div id="content" class="d-flex flex-column bg-gray-200">

                    <!-- TOPBAR -->
                    <nav class="navbar navbar-expand navbar-light bg-white p-none topbar mb-4 static-top shadow" >

                        <!-- NAVIGASI TOPBAR -->
                        <ul class="navbar-nav ml-auto">

                            <!-- NAVIGASI INFORMASI PENGGUNA -->
                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-800 medium">Tamu</span>
                                    {% comment %} <img class="img-profile rounded-circle"
                                        src="img/undraw_profile.svg"> {% endcomment %}
                                    <i class="fas fa-user-circle fa-lg"></i>
                                </a>
                                <!-- DROPDOWN INFORMASI PENGGUNA -->
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                    aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#loginModal">
                                        <i class="fas fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Masuk sebagai admin
                                    </a>
                                </div>
                            </li>

                        </ul>

                    </nav>
                    <!-- End of Topbar -->

                    <div id="content2" class="d-flex flex-column p-2 bg-gray-200">

                    {% block page_content %}



                    {% endblock  %}

                    </div>

                </div>
                <!-- End of Main Content -->
                
                <!-- Footer -->
                <footer class="sticky-footer bg-transparent">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; SMIK 2021</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- END OF CONTENT WRAPPER -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Masuk sebagai admin?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Klik "Lanjutkan" untuk beralih ke halaman Masuk
                    </div>
                    <div class="modal-footer">
                        <button class="btn bg-gray-200" type="button" data-dismiss="modal">Batal</button>
                        <a class="btn btn-info" href="/login">Lanjutkan</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        
        {% comment %} <script src=" {% static 'vendor/jquery/jquery.min.js' %} "></script> {% endcomment %}
        <script src=" {% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>

        <!-- Core plugin JavaScript-->
        <script src=" {% static 'vendor/jquery-easing/jquery.easing.min.js' %} "></script>

        <!-- Custom scripts for all pages-->
        <script src=" {% static 'js/sb-admin-2.min.js' %} "></script>

        <!-- Page level plugins -->
        <script src=" {% static 'vendor/chart.js/Chart.min.js' %} "></script>

        <!-- Page level custom scripts -->
        <script src=" {% static 'js/demo/chart-area-demo.js' %} "></script>
        <script src=" {% static 'js/demo/chart-pie-demo.js' %} "></script>

    </body>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script>
        $("#dataTable").DataTable({
            orderCellsTop: true,
        });
    </script>

</html>